<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 3 years of experience as a software engineer, and have worked at both small startups and large organizations. While I'm a proficient software developer, my expertise is in building scalable backend services, API Services, data analysis and
	    developing Artificial Intelligence solutions. I have mostly worked on Python backend services, testing python applications using pytest, selenium, AWS Data Streaming on consumer side with Python and developing cron services using Apache Airflow. I also have good experience of using Jmeter and Automation Anywhere tools for Load testing and Automated Testing.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
			<li>
            Software Engineer at Leapfrog Technology
    			</li>
			<li>
            Cloud Apprenticeship at TechKraft Inc.
    			</li>
			<li>
            IT Officer and International Committee Member - Rotaract Club of Dillibazar, Kathmandu
    			</li>
			<li>
            Co-Organizer of Python Users Group Nepal.
    			</li>
    			<li>
            Microsoft Imagine Cup 2017 National Finals
    			</li>
			    <li>
            Second Runner Up at Asian Hack 2019 organized by Asian School of Management and Technology
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
