<!-- Contact Section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Tweets</h2>
				<hr />
				<a href="https://twitter.com/iampujan20?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @iampujan20</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-lg-offset-2">
				<h3>Pinned Tweets</h3>
				<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Support this amazing fellow !<a href="https://t.co/qRdFMT9L8O">https://t.co/qRdFMT9L8O</a> <a href="https://t.co/qRdFMT9L8O">https://t.co/qRdFMT9L8O</a></p>&mdash; Pujan Thapa (@iampujan20) <a href="https://twitter.com/iampujan20/status/1213642690409091072?ref_src=twsrc%5Etfw">January 5, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				<blockquote class="twitter-tweet"><p lang="en" dir="ltr">This is CS50x 2020, including new-and-improved <a href="https://twitter.com/hashtag/lectures?src=hash&amp;ref_src=twsrc%5Etfw">#lectures</a>, new problem sets, choice of tracks, and free <a href="https://twitter.com/cs50?ref_src=twsrc%5Etfw">@cs50</a> <a href="https://twitter.com/hashtag/certificates?src=hash&amp;ref_src=twsrc%5Etfw">#certificates</a>, <a href="https://t.co/cRYx6qC2tn">https://t.co/cRYx6qC2tn</a>. Verified certificates available at <a href="https://t.co/FF1dcOb2NZ">https://t.co/FF1dcOb2NZ</a>. Transferrable course credit available at <a href="https://t.co/CYle8ntddM">https://t.co/CYle8ntddM</a>.</p>&mdash; CS50 (@cs50) <a href="https://twitter.com/cs50/status/1212196969436909568?ref_src=twsrc%5Etfw">January 1, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div class="col-lg-4 col-lg-offset-2">
			<a class="twitter-timeline" data-lang="en" data-width="400" data-height="1000" data-theme="light" href="https://twitter.com/iampujan20?ref_src=twsrc%5Etfw">Tweets by iampujan20</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>
	</div>
</section>
