<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Deep learning</b>. It's an exciting time for machine learning. I'm working through several online classes, and swap articles with collegues.
			  </li>
			  <li>
				  <b>Travelling</b>. I've been visiting several places frequently. I like exploring nature and makes plan to travel with my friends whenever they are free.
			  </li>
			  <li>
				  <b>Volunteering</b>. Volunteering is one of the great way to interact with people. I get to learn many things while volunteering, not just the task i get to do but while interacting with people from
				  various backgrounds.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Airify -> A mobile application developed by my team in a hackathon which displays the conditions of air quality from different air stations of Nepal. The app displays the data in a 
				visulized graphs and charts for interactivity, comparing data of different cities, storing information about the various metrics of air quality data, etc.
    		</li>
  			<li>
          Developed Child Adoption mobile application during Yomari Code Camp at Locus.
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
			    <li>
           Microsoft Student Partner for the year 2016-17.
  			</li>
  			<li>
           Volunteer at AIDevNepal. AIDevNepal is an AI community of Nepal which organized several free workshops on Artificial Intelligence. (since 2017)
  			</li>
  			<li>
  			  Active member of several tech communities of Nepal.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
