<!-- Contact Section -->
<section id="tweet">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Tweets</h2>
				<hr />
				<a href="https://twitter.com/iampujan20?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @iampujan20</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-lg-offset-2">
				<h3>Pinned Tweets</h3>
				<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Want to learn about meta-learning? Lecture videos for CS330 are now online!<a href="https://t.co/taJ5yyIWVQ">https://t.co/taJ5yyIWVQ</a><br><br>Topics incl. MTL, few-shot learning, Bayesian meta-learning, lifelong learning, meta-RL &amp; more:<a href="https://t.co/mJ1v71huD7">https://t.co/mJ1v71huD7</a><br>+ 3 guest lectures from Kate Rakelly, <a href="https://twitter.com/svlevine?ref_src=twsrc%5Etfw">@svlevine</a>, <a href="https://twitter.com/jeffclune?ref_src=twsrc%5Etfw">@jeffclune</a> <a href="https://t.co/X609iUvCXp">pic.twitter.com/X609iUvCXp</a></p>&mdash; Chelsea Finn (@chelseabfinn) <a href="https://twitter.com/chelseabfinn/status/1232386995843788800?ref_src=twsrc%5Etfw">February 25, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				<blockquote class="twitter-tweet"><p lang="en" dir="ltr">This is CS50x 2020, including new-and-improved <a href="https://twitter.com/hashtag/lectures?src=hash&amp;ref_src=twsrc%5Etfw">#lectures</a>, new problem sets, choice of tracks, and free <a href="https://twitter.com/cs50?ref_src=twsrc%5Etfw">@cs50</a> <a href="https://twitter.com/hashtag/certificates?src=hash&amp;ref_src=twsrc%5Etfw">#certificates</a>, <a href="https://t.co/cRYx6qC2tn">https://t.co/cRYx6qC2tn</a>. Verified certificates available at <a href="https://t.co/FF1dcOb2NZ">https://t.co/FF1dcOb2NZ</a>. Transferrable course credit available at <a href="https://t.co/CYle8ntddM">https://t.co/CYle8ntddM</a>.</p>&mdash; CS50 (@cs50) <a href="https://twitter.com/cs50/status/1212196969436909568?ref_src=twsrc%5Etfw">January 1, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div class="col-lg-4 col-lg-offset-2">
			<a class="twitter-timeline" data-lang="en" data-width="400" data-height="1000" data-theme="light" href="https://twitter.com/iampujan20?ref_src=twsrc%5Etfw">Tweets by iampujan20</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>
	</div>
</section>
